<h2>Welcome to Popup Remote!</h2>
<p>Hi {{name}},</p>
<p>We're excited to have you onboard and can't wait for you to start exploring all the features and benefits your new
    account has to offer.</p>
<p>Before you dive in, we need to confirm your email address to ensure the security of your account. Please activate
    your account by clicking the link below:</p>
<a href="{{link}}" class="button">Activate Account</a>
<p>This link will expire in 24 hours, so be sure to click it soon. If you did not register for a Popup Remote account,
    it's important that you let us know immediately. Please send an email to our support team at <a
        href="mailto:{{supportEmail}}">{{supportEmail}}</a>, and we will assist you in resolving the issue.</p>
<p>If you have any questions or need further assistance, don't hesitate to reach out to our support team. We're here to
    help ensure your experience with Popup Remote is nothing short of fantastic.</p>
<p>Thank you for choosing Popup Remote. We're thrilled to have you with us.</p>
<footer>Please note: This is a system-generated email; replies to this email will not be monitored. For any assistance,
    contact <a href="mailto:{{supportEmail}}">{{supportEmail}}</a> directly.</footer>